body {
  background-color:#000000;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}

#content{
  background-color: #C09379;
  border-style: solid;
  border-width: 0.047em;
  margin: 3em;
  border-radius: 1em;
}

h1 {
  background-color: #8584AC;
  font-family: Verdana;
  font-size: 4.632em;
  text-align: center;
  padding: 0.6em;
  margin: 1em;
  border-radius: 0.36em;
  border-style: solid;
  border-width: 0.08em;
}

img {
  align-items: center;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  border-width: 0.3em;
}

button {
  align-items: center;
  width: 40%;
  height: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.leftButton {
  float: left;
  margin-left: 10%;
}

.rightButton {
  float: right;
  margin-right: 10%;
}

form {
  font-size: 1em;
  font-family: Helvetica;
  border-style: solid;
  border-width: 0.3em;
  background-color: #8584AC;
  border-radius: 1em;
  padding: 1.667em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 5em;
  margin-bottom: 2em;
}

label {
  text-align: left;
}

p, .input {
  margin-bottom: 1em;
}

input[type="checkbox"] {
  width: 2em;
  height: 2em;
}

@media only screen and (min-width: 480px) {
/*add floats*/
/*ipad */
body {
  background-color: #C09379;
}

h1 {
  border-width: 0.04em;
  font-size: 2.779em;
  width: 72%;
  margin-left: 10%;
}

#content {
  border-style: none;
  border-width: 0em;
}

}

@media only screen and (min-width: 992px) {
/*desktop*/
body {
  background-color: #C09379;
}

#content {
  background-color: #C09379;
  border-style: none;
  border-width: 0em;
  margin: 0em;
  border-radius: 0em;
}

h1 {
  background-color: #8584AC;
  font-size: 2.779em;
  text-align: center;
  padding: 0.6em;
  margin: 1em;
  border-radius: 0;
  border-style: none;
  border-width: 0;
}

.flex-box {
  display: flex;
  background-color: DodgerBlue;
}

.flex-box > div {
  background-color: #C09379;
}

img {
  align-items: right;
  width: 50%;
  display: block;
  margin-left: 25%;
  margin-right: 0;
  border-radius: 0em;
  border-width: 0.3em;
}

form {
  border-style: none;
  border-width: 0em;
  background-color: #8584AC;
  border-radius: 0em;
  width: 50%;
}

button {
  width: 25%;
  height: 5%;
  float: none;
  margin: 0em;
  align-items: normal;
  display: block;
  margin-left: 0em;
  margin-right: 0em;
  padding: 0;
}

.leftButton {
  float: left;
  margin-left: 25%;
}

.rightButton {
  float: right;
  margin-right: 25%;
}

.Slideshow {
  width: 75%;
}
}